/**
 * --------------------------------------------------------------
 * Steller CSS
 * Theme Configuration
 *
 * The centralized config file for your design system.
 * --------------------------------------------------------------
 */

/**
 * --------------------------------------------------------------
 * Color
 * --------------------------------------------------------------
 */

$steller-colors: (
  // Brand
  'primary': #3f7cac,
  'secondary': #e2cb9e,

  // Accents
  'accent-green': #73937e,
  'accent-teal': #86bbd8,

  // System
  'success': #4cd964,
  'info': #86bbd8,
  'warning': #fc0,
  'danger': #ff7f66,

  // Grayscale
  'white': #fff,
  'black': #000,
  'dark-grey': #393d3f,
  'light-grey': lighten(#393d3f, 22%),
);

/**
 * --------------------------------------------------------------
 * Typography
 * --------------------------------------------------------------
 */

$steller-font-family-heading: sans-serif;
$steller-font-family-body: sans-serif;

$steller-custom-font-families: (
  'accent': cursive,
);

$steller-font-size-xs: 0.75rem;
$steller-font-size-sm: 0.875rem;
$steller-font-size-md: 1rem;
$steller-font-size-lg: 1.5rem;
$steller-font-size-xl: 1.875rem;
$steller-font-size-2xl: 2.25rem;
$steller-font-size-3xl: 3rem;
$steller-font-size-4xl: 3.75rem;

$steller-font-weight-bold: 700;
$steller-font-weight-medium: 500;
$steller-font-weight-regular: 400;
$steller-font-weight-light: 300;
$steller-font-weight-thin: 100;

$steller-leading-sm: 1.25em;
$steller-leading-md: 1.5em;
$steller-leading-lg: 2em;

$steller-letter-spacing-tight: -0.05em;
$steller-letter-spacing-normal: 0;
$steller-letter-spacing-wide: 0.05em;

/**
 * --------------------------------------------------------------
 * Breakpoints
 * --------------------------------------------------------------
 */

$steller-breakpoint-sm: 320px;
$steller-breakpoint-md: 600px;
$steller-breakpoint-lg: 1024px;

/**
 * --------------------------------------------------------------
 * Container
 * --------------------------------------------------------------
 */

$steller-container-width: 1140px;

/**
 * --------------------------------------------------------------
 * Grid
 * --------------------------------------------------------------
 */

// Grid
$steller-grid-columns: 12;

$steller-column-gutter-sm: 16px;
$steller-column-gutter-md: 16px;
$steller-column-gutter-lg: 24px;

$steller-row-gutter-sm: 8px;
$steller-row-gutter-md: 8px;
$steller-row-gutter-lg: 16px;

// Spacing
$steller-spacing-xs: 4px;
$steller-spacing-sm: 8px;
$steller-spacing-md: 16px;
$steller-spacing-lg: 24px;
$steller-spacing-xl: 32px;
$steller-spacing-2xl: 48px;
$steller-spacing-3xl: 64px;

// Borders
$steller-border-radius-sm: 5px;
$steller-border-radius-md: 10px;
$steller-border-radius-lg: 15px;
$steller-border-radius-xl: 20px;

$steller-border-width-xs: 1px;
$steller-border-width-sm: 2px;
$steller-border-width-md: 4px;
$steller-border-width-lg: 6px;
$steller-border-width-xl: 8px;

/**
 * --------------------------------------------------------------
 * Motion
 * --------------------------------------------------------------
 */

$steller-speed-extra-slow: 500ms;
$steller-speed-slow: 400ms;
$steller-speed-normal: 300ms;
$steller-speed-fast: 200ms;
$steller-speed-extra-fast: 100ms;

/**
 * --------------------------------------------------------------
 * Effects
 * --------------------------------------------------------------
 */

$steller-box-shadow-sm: 0 7px 15px 0 rgba(0, 0, 0, 0.11), 0 1px 8px 0 rgba(0, 0, 0, 0.06);
$steller-box-shadow-md: 0 10px 20px 0 rgba(0, 0, 0, 0.22), 0 3px 12px 0 rgba(0, 0, 0, 0.07);
$steller-box-shadow-lg: 0 15px 30px 0 rgba(0, 0, 0, 0.33), 0 5px 15px 0 rgba(0, 0, 0, 0.1);

/**
 * --------------------------------------------------------------
 * Transforms
 * --------------------------------------------------------------
 */

$steller-transform-distance-xs: 1px;
$steller-transform-distance-sm: 2px;
$steller-transform-distance-md: 4px;
$steller-transform-distance-lg: 6px;
$steller-transform-distance-xl: 8px;

/**
 * --------------------------------------------------------------
 * Modules (WIP)
 *
 * Modules allow you to extend Steller by providing a map
 * of additional classes. By default, modules are applied
 * to all variant types (responsive, hover, focus, active).
 * --------------------------------------------------------------
 */

// Example
// @import '~steller-vue-transitions/index';
// $steller-modules: ($steller-vue-transitions);
