@import '../classes/index';

$focus-classes-maps: (
  ($steller-modules),
  ($colors-classes-map),
  ($sizing-classes-map),
  ($spacing-classes-map),
  ($layout-classes-map),
  ($typography-classes-map),
  ($borders-classes-map),
  ($effects-classes-map),
  ($transforms-classes-map),
  ($interactivity-classes-map),
  ($gradients-classes-map),
  ($overflow-classes-map),
);

@each $classes-map in $focus-classes-maps {
  @each $class-name, $attributes-map in $classes-map {
    .focus\:#{$class-name}:focus {
      @each $key, $value in $attributes-map {
        #{inspect($key)}: #{inspect($value)};
      }
    }
  }
}
