// -----------------------------
// Effects
// -----------------------------

$effects-classes-map: (
  // opacity
  'opacity-100': (opacity: 1),
  'opacity-75': (opacity: 0.75),
  'opacity-50': (opacity: 0.5),
  'opacity-25': (opacity: 0.25),
  'opacity-0': (opacity: 0),
);


@each $box-shadow-name, $box-shadow-value in $steller-box-shadows {
  $effects-classes-map: map-merge(
    $effects-classes-map,
    (
      'shadow-#{$box-shadow-name}': (
        box-shadow: inspect($box-shadow-value)
      ),
    )
  );
}
