// -----------------------------
// Grid
// -----------------------------

.grid {
  display: grid;
  grid-template-columns: repeat($steller-grid-columns, 1fr);

  @each $breakpoint-label, $breakpoint-value in $steller-breakpoints {
    grid-column-gap: column-gutter($breakpoint-label);
    grid-row-gap: row-gutter($breakpoint-label);
  }
}
