/**
* --------------------------------------------------------------
* Vue Transitions 🎉
* --------------------------------------------------------------
*/

$transition-classes-map: ();

$speeds: (
  ("extra-slow", 500ms),
  ("slow", 400ms),
  ("normal", 300ms),
  ("fast", 200ms),
  ("extra-fast", 100ms),
);

// -----------------------------
// Fade
// -----------------------------

@each $speed-name, $speed in $speeds {
  $transition-classes-map: map-merge(
    $transition-classes-map,
    (
      'fade-#{$speed-name}-enter': (opacity: 0),
      'fade-#{$speed-name}-enter-to': (opacity: 1),
      'fade-#{$speed-name}-enter-active': (transition: all #{$speed} ease-out),
      'fade-#{$speed-name}-leave': (opacity: 1),
      'fade-#{$speed-name}-leave-active': (transition: all #{$speed} ease-in),
      'fade-#{$speed-name}-leave-to': (opacity: 0),
    )
  );
}

// -----------------------------
// Slide In From Top
// -----------------------------

@each $speed-name, $speed in $speeds {
  $transition-classes-map: map-merge(
    $transition-classes-map,
    (
      'slide-in-from-top-#{$speed-name}-enter': (transform: translateY(-40%), opacity: 0),
      'slide-in-from-top-#{$speed-name}-enter-to': (transition: all #{$speed} ease-in-out),
      'slide-in-from-top-#{$speed-name}-enter-active': (transition: all #{$speed} ease-in-out),
    )
  );
}

// -----------------------------
// Slide In From Bottom
// -----------------------------

@each $speed-name, $speed in $speeds {
  $transition-classes-map: map-merge(
    $transition-classes-map,
    (
      'slide-in-from-bottom-#{$speed-name}-enter': (transform: translateY(40%), opacity: 0),
      'slide-in-from-bottom-#{$speed-name}-enter-to': (transition: all #{$speed} ease-in-out),
      'slide-in-from-bottom-#{$speed-name}-enter-active': (transition: all #{$speed} ease-in-out),
    )
  );
}

// -----------------------------
// Slide In From Right
// -----------------------------

@each $speed-name, $speed in $speeds {
  $transition-classes-map: map-merge(
    $transition-classes-map,
    (
      'slide-in-from-right-#{$speed-name}-enter': (transform: translateX(40%), opacity: 0),
      'slide-in-from-right-#{$speed-name}-enter-to': (transition: all #{$speed} ease-in-out),
      'slide-in-from-right-#{$speed-name}-enter-active': (transition: all #{$speed} ease-in-out),
    )
  );
}

// -----------------------------
// Slide In From Left
// -----------------------------

@each $speed-name, $speed in $speeds {
  $transition-classes-map: map-merge(
    $transition-classes-map,
    (
      'slide-in-from-left-#{$speed-name}-enter': (transform: translateX(-40%), opacity: 0),
      'slide-in-from-left-#{$speed-name}-enter-to': (transition: all #{$speed} ease-in-out),
      'slide-in-from-left-#{$speed-name}-enter-active': (transition: all #{$speed} ease-in-out),
    )
  );
}

// -----------------------------
// Slide In From Top & Fade Out
// -----------------------------

@each $speed-name, $speed in $speeds {
  $transition-classes-map: map-merge(
    $transition-classes-map,
    (
      'slide-in-from-top-fade-out-#{$speed-name}-enter': (transform: translateY(-60%)),
      'slide-in-from-top-fade-out-#{$speed-name}-enter-to': (transform: translateX(0)),
      'slide-in-from-top-fade-out-#{$speed-name}-enter-active': (transition: all #{$speed} ease-in-out),
      'slide-in-from-top-fade-out-#{$speed-name}-leave-active': (transition: opacity 0.5s),
      'slide-in-from-top-fade-out-#{$speed-name}-leave-to': (opacity: 0),
    )
  );
}

// -----------------------------
// Flip List
// https://css-tricks.com/animating-layouts-with-the-flip-technique/
// -----------------------------

@each $speed-name, $speed in $speeds {
  $transition-classes-map: map-merge(
    $transition-classes-map,
    (
      'flip-list-#{$speed-name}-move': (transition: transform #{$speed}),
    )
  );
}
