// -----------------------------
// Typography
// -----------------------------

$typography-classes-map: (
  // font family
  'font-heading': (font-family: $steller-font-family-heading),
  'font-body': (font-family: $steller-font-family-body),

  // font size
  'font-size-xs': (font-size: $steller-font-size-xs),
  'font-size-sm': (font-size: $steller-font-size-sm),
  'font-size-md': (font-size: $steller-font-size-md),
  'font-size-lg': (font-size: $steller-font-size-lg),
  'font-size-xl': (font-size: $steller-font-size-xl),
  'font-size-2xl': (font-size: $steller-font-size-2xl),
  'font-size-3xl': (font-size: $steller-font-size-3xl),
  'font-size-4xl': (font-size: $steller-font-size-4xl),

  // font weight
  'font-weight-bold': (font-weight: $steller-font-weight-bold),
  'font-weight-medium': (font-weight: $steller-font-weight-medium),
  'font-weight-regular': (font-weight: $steller-font-weight-regular),
  'font-weight-light': (font-weight: $steller-font-weight-light),
  'font-weight-thin': (font-weight: $steller-font-weight-thin),

  // leading
  'leading-sm': (line-height: $steller-leading-sm),
  'leading-md': (line-height: $steller-leading-md),
  'leading-lg': (line-height: $steller-leading-lg),

  // letter spacing
  'letter-spacing-tight': (letter-spacing: $steller-letter-spacing-tight),
  'letter-spacing-normal': (letter-spacing: $steller-letter-spacing-normal),
  'letter-spacing-wide': (letter-spacing: $steller-letter-spacing-wide),

  // font style / decoration
  'italic': (font-style: italic),
  'underline': (text-decoration: underline),
  'no-underline': (text-decoration: none),
  'lowercase': (text-transform: lowercase),
  'uppercase': (text-transform: uppercase),
  'capitalize': (text-transform: capitalize),

  // lists
  'list-reset': (list-style: none, padding: 0),

  // whitespace
  'whitespace-normal': (white-space: normal),
  'whitespace-no-wrap': (white-space: nowrap),
  'whitespace-pre': (white-space: pre),
  'whitespace-pre-line': (white-space: pre-line),
  'whitespace-pre-wrap': (white-space: pre-wrap),

  // word wrap
  'break-word': (word-wrap: break-word),
  'break-normal': (word-wrap: normal),
  'truncate': (overflow: hidden, text-overflow: ellipses, white-space: nowrap),
);

// custom font famailies
@each $steller-font-family-name, $steller-font-family-value in $steller-custom-font-families {
  $map: ();

  $map: map-merge(
    $map,
    (
      'font-#{$steller-font-family-name}': (
        font-family: inspect($steller-font-family-value)
      ),
    )
  );

  $typography-classes-map: map-merge($typography-classes-map, $map);
}
