// -----------------------------
// Borders
// -----------------------------

$corners: (
  (tl, 'top-left'),
  (tr, 'top-right'),
  (bl, 'bottom-left'),
  (br, 'bottom-right'),
  (t, 'top'),
  (r, 'right'),
  (b, 'bottom'),
  (l, 'left'),
);

// -----------------------------
// Border Color
// -----------------------------

$border-colors-map: (
  (primary, $color-primary),
  (secondary, $color-secondary),
  (success, $color-success),
  (info, $color-info),
  (warning, $color-warning),
  (danger, $color-danger),
);

@each $border-color-name, $border-color in $border-colors-map {
  .border-#{$border-color-name} {
    border-color: $border-color;
  }

  @each $breakpoint-label, $breakpoint in $breakpoint-map {
    .#{$breakpoint-label}\:border-#{$border-color-name} {
      @media (min-width: $breakpoint) {
        border-color: $border-color;
      }
    }
  }
}

// -----------------------------
// Border Radius
// -----------------------------

$border-radius-sm: 5px;
$border-radius-md: 10px;
$border-radius-lg: 15px;
$border-radius-xl: 25px;

$border-radius-map: (
  (sm, $border-radius-sm),
  (md, $border-radius-md),
  (lg, $border-radius-lg),
  (xl, $border-radius-xl),
);

@each $size-label, $size in $border-radius-map {
  .rounded-#{$size-label} {
    border-radius: $size;
  }

  @each $breakpoint-label, $breakpoint in $breakpoint-map {
    .#{$breakpoint-label}\:rounded-#{$size-label} {
      @media (min-width: $breakpoint) {
        border-radius: $size;
      }
    }
  }

  @each $corner-label, $corner in $corners {
    .rounded-#{$corner-label}-#{$size-label} {
      border-#{$corner}-radius: $size;
    }

    @each $breakpoint-label, $breakpoint in $breakpoint-map {
      .#{$breakpoint-label}\:rounded-#{$corner-label}-#{$size-label} {
        @media (min-width: $breakpoint) {
          border-#{$corner}-radius: $size;
        }
      }
    }
  }
}

.rounded-full {
  border-radius: 9999px;
}

@each $breakpoint-label, $breakpoint in $breakpoint-map {
  .#{$breakpoint-label}\:rounded-full {
    @media (min-width: $breakpoint) {
      border-radius: 9999px;
    }
  }
}

// -----------------------------
// Border Width
// -----------------------------

$border-width-sm: 1px;
$border-width-md: 2px;
$border-width-lg: 4px;
$border-width-xl: 8px;

$border-width-map: (
  (sm, $border-width-sm),
  (md, $border-width-md),
  (lg, $border-width-lg),
  (xl, $border-width-xl),
);

@each $size-label, $size in $border-width-map {
  .border-#{$size-label} {
    border-width: $size;
  }

  @each $breakpoint-label, $breakpoint in $breakpoint-map {
    .#{$breakpoint-label}\:border-#{$size-label} {
      @media (min-width: $breakpoint) {
        border-width: $size;
      }
    }
  }

  @each $corner-label, $corner in $corners {
    .border-#{$corner-label}-#{$size-label} {
      border-#{$corner}-width: $size;
    }

    @each $breakpoint-label, $breakpoint in $breakpoint-map {
      .#{$breakpoint-label}\:border-#{$corner-label}-#{$size-label} {
        @media (min-width: $breakpoint) {
          border-#{$corner}-width: $size;
        }
      }
    }
  }
}
