// -----------------------------
// Breakpoints
// -----------------------------

$breakpoint-sm-min: 0;
$breakpoint-sm-max: 575px;

$breakpoint-md-min: $breakpoint-sm-max + 1px;
$breakpoint-md-max: 991px;

$breakpoint-lg-min: $breakpoint-md-max + 1px;
$breakpoint-lg-max: 33554428px;
