// -----------------------------
// Color
// -----------------------------

// -----------------------------
// Variables
// -----------------------------

// Neutrals
$color-white: #fff;
$color-black: #000;

$color-gray-light-1: #fafafa;
$color-gray-light-2: #f2f2f2;
$color-gray-light-3: #e6e6e6;
$color-gray-light-4: #d9d9d9;
$color-gray-light-5: #ccc;
$color-gray-light-6: #999;

$color-gray-dark-1: #808080;
$color-gray-dark-2: #666;
$color-gray-dark-3: #4d4d4d;
$color-gray-dark-4: #333;
$color-gray-dark-5: #242424;
$color-gray-dark-6: #121212;

$color-primary: #2F4D54;
$color-secondary: #6A96A1;

$color-success: #4cd964;
$color-info: #86BBD8;
$color-warning: #ffcc00;
$color-danger: #FF7F66;

// Primary shades
$color-primary-light-1: lighten($color-primary, 5%);
$color-primary-light-2: lighten($color-primary, 10%);
$color-primary-light-3: lighten($color-primary, 15%);
$color-primary-light-4: lighten($color-primary, 20%);
$color-primary-light-5: rgba($color-primary, 0.1);

$color-primary-dark-1: darken($color-primary, 5%);
$color-primary-dark-2: darken($color-primary, 10%);
$color-primary-dark-3: darken($color-primary, 15%);
$color-primary-dark-4: darken($color-primary, 20%);
$color-primary-dark-5: darken($color-primary, 30%);

// Secondary shades
$color-secondary-light-1: lighten($color-secondary, 5%);
$color-secondary-light-2: lighten($color-secondary, 10%);
$color-secondary-light-3: lighten($color-secondary, 15%);
$color-secondary-light-4: lighten($color-secondary, 20%);
$color-secondary-light-5: rgba($color-secondary, 0.1);

$color-secondary-dark-1: darken($color-secondary, 5%);
$color-secondary-dark-2: darken($color-secondary, 10%);
$color-secondary-dark-3: darken($color-secondary, 15%);
$color-secondary-dark-4: darken($color-secondary, 20%);
$color-secondary-dark-5: darken($color-secondary, 30%);

// Success shades
$color-success-light-1: lighten($color-success, 5%);
$color-success-light-2: lighten($color-success, 10%);
$color-success-light-3: lighten($color-success, 15%);
$color-success-light-4: lighten($color-success, 20%);
$color-success-light-5: rgba($color-success, 0.1);

$color-success-dark-1: darken($color-success, 5%);
$color-success-dark-2: darken($color-success, 10%);
$color-success-dark-3: darken($color-success, 15%);
$color-success-dark-4: darken($color-success, 20%);
$color-success-dark-5: darken($color-success, 30%);

// Info shades
$color-info-light-1: lighten($color-info, 5%);
$color-info-light-2: lighten($color-info, 10%);
$color-info-light-3: lighten($color-info, 15%);
$color-info-light-4: lighten($color-info, 20%);
$color-info-light-5: rgba($color-info, 0.1);

$color-info-dark-1: darken($color-info, 5%);
$color-info-dark-2: darken($color-info, 10%);
$color-info-dark-3: darken($color-info, 15%);
$color-info-dark-4: darken($color-info, 20%);
$color-info-dark-5: darken($color-info, 30%);

// Warning shades
$color-warning-light-1: lighten($color-warning, 5%);
$color-warning-light-2: lighten($color-warning, 10%);
$color-warning-light-3: lighten($color-warning, 15%);
$color-warning-light-4: lighten($color-warning, 20%);
$color-warning-light-5: rgba($color-warning, 0.1);

$color-warning-dark-1: darken($color-warning, 5%);
$color-warning-dark-2: darken($color-warning, 10%);
$color-warning-dark-3: darken($color-warning, 15%);
$color-warning-dark-4: darken($color-warning, 20%);
$color-warning-dark-5: darken($color-warning, 30%);

// Danger shades
$color-danger-light-1: lighten($color-danger, 5%);
$color-danger-light-2: lighten($color-danger, 10%);
$color-danger-light-3: lighten($color-danger, 15%);
$color-danger-light-4: lighten($color-danger, 20%);
$color-danger-light-5: rgba($color-danger, 0.1);

$color-danger-dark-1: darken($color-danger, 5%);
$color-danger-dark-2: darken($color-danger, 10%);
$color-danger-dark-3: darken($color-danger, 15%);
$color-danger-dark-4: darken($color-danger, 20%);
$color-danger-dark-5: darken($color-danger, 30%);

// -----------------------------
// Text color
// -----------------------------

$color-map: (
	('text-white', $color-white),
	('text-black', $color-black),
	('text-primary', $color-primary),
	// primary
	('text-primary-light-1', $color-primary-light-1),
	('text-primary-light-2', $color-primary-light-2),
	('text-primary-light-3', $color-primary-light-3),
	('text-primary-light-4', $color-primary-light-4),
	('text-primary-light-5', $color-primary-light-5),
	('text-primary-dark-1', $color-primary-dark-1),
	('text-primary-dark-2', $color-primary-dark-2),
	('text-primary-dark-3', $color-primary-dark-3),
	('text-primary-dark-4', $color-primary-dark-4),
	('text-primary-dark-5', $color-primary-dark-5),
	// secondary
	('text-secondary', $color-secondary),
	('text-secondary-light-1', $color-secondary-light-1),
	('text-secondary-light-2', $color-secondary-light-2),
	('text-secondary-light-3', $color-secondary-light-3),
	('text-secondary-light-4', $color-secondary-light-4),
	('text-secondary-light-5', $color-secondary-light-5),
	('text-secondary-dark-1', $color-secondary-dark-1),
	('text-secondary-dark-2', $color-secondary-dark-2),
	('text-secondary-dark-3', $color-secondary-dark-3),
	('text-secondary-dark-4', $color-secondary-dark-4),
	('text-secondary-dark-5', $color-secondary-dark-5),
	// success
	('text-success', $color-success),
	('text-success-light-1', $color-success-light-1),
	('text-success-light-2', $color-success-light-2),
	('text-success-light-3', $color-success-light-3),
	('text-success-light-4', $color-success-light-4),
	('text-success-light-5', $color-success-light-5),
	('text-success-dark-1', $color-success-dark-1),
	('text-success-dark-2', $color-success-dark-2),
	('text-success-dark-3', $color-success-dark-3),
	('text-success-dark-4', $color-success-dark-4),
	('text-success-dark-5', $color-success-dark-5),
	// info
	('text-info', $color-info),
	('text-info-light-1', $color-info-light-1),
	('text-info-light-2', $color-info-light-2),
	('text-info-light-3', $color-info-light-3),
	('text-info-light-4', $color-info-light-4),
	('text-info-light-5', $color-info-light-5),
	('text-info-dark-1', $color-info-dark-1),
	('text-info-dark-2', $color-info-dark-2),
	('text-info-dark-3', $color-info-dark-3),
	('text-info-dark-4', $color-info-dark-4),
	('text-info-dark-5', $color-info-dark-5),
	// warning
	('text-warning', $color-warning),
	('text-warning-light-1', $color-warning-light-1),
	('text-warning-light-2', $color-warning-light-2),
	('text-warning-light-3', $color-warning-light-3),
	('text-warning-light-4', $color-warning-light-4),
	('text-warning-light-5', $color-warning-light-5),
	('text-warning-dark-1', $color-warning-dark-1),
	('text-warning-dark-2', $color-warning-dark-2),
	('text-warning-dark-3', $color-warning-dark-3),
	('text-warning-dark-4', $color-warning-dark-4),
	('text-warning-dark-5', $color-warning-dark-5),
	// danger
	('text-danger', $color-danger),
	('text-danger-light-1', $color-danger-light-1),
	('text-danger-light-2', $color-danger-light-2),
	('text-danger-light-3', $color-danger-light-3),
	('text-danger-light-4', $color-danger-light-4),
	('text-danger-light-5', $color-danger-light-5),
	('text-danger-dark-1', $color-danger-dark-1),
	('text-danger-dark-2', $color-danger-dark-2),
	('text-danger-dark-3', $color-danger-dark-3),
	('text-danger-dark-4', $color-danger-dark-4),
	('text-danger-dark-5', $color-danger-dark-5),
);

@each $color-class-name, $color-value in $color-map {
  .#{$color-class-name} {
    color: $color-value;
  }

  @each $breakpoint-label, $breakpoint-min, $breakpoint-max in $breakpoint-map {
    .#{$breakpoint-label}\:#{$color-class-name} {
      @media (min-width: $breakpoint-min) and (max-width: $breakpoint-max) {
        color: $color-value;
      }
    }
  }
}

// -----------------------------
// Background color utilities
// -----------------------------

$background-color-map: (
	('bg-white', $color-white),
	('bg-black', $color-black),
	('bg-primary', $color-primary),
	// primary
	('bg-primary-light-1', $color-primary-light-1),
	('bg-primary-light-2', $color-primary-light-2),
	('bg-primary-light-3', $color-primary-light-3),
	('bg-primary-light-4', $color-primary-light-4),
	('bg-primary-light-5', $color-primary-light-5),
	('bg-primary-dark-1', $color-primary-dark-1),
	('bg-primary-dark-2', $color-primary-dark-2),
	('bg-primary-dark-3', $color-primary-dark-3),
	('bg-primary-dark-4', $color-primary-dark-4),
	('bg-primary-dark-5', $color-primary-dark-5),
	// secondary
	('bg-secondary', $color-secondary),
	('bg-secondary-light-1', $color-secondary-light-1),
	('bg-secondary-light-2', $color-secondary-light-2),
	('bg-secondary-light-3', $color-secondary-light-3),
	('bg-secondary-light-4', $color-secondary-light-4),
	('bg-secondary-light-5', $color-secondary-light-5),
	('bg-secondary-dark-1', $color-secondary-dark-1),
	('bg-secondary-dark-2', $color-secondary-dark-2),
	('bg-secondary-dark-3', $color-secondary-dark-3),
	('bg-secondary-dark-4', $color-secondary-dark-4),
	('bg-secondary-dark-5', $color-secondary-dark-5),
	// success
	('bg-success', $color-success),
	('bg-success-light-1', $color-success-light-1),
	('bg-success-light-2', $color-success-light-2),
	('bg-success-light-3', $color-success-light-3),
	('bg-success-light-4', $color-success-light-4),
	('bg-success-light-5', $color-success-light-5),
	('bg-success-dark-1', $color-success-dark-1),
	('bg-success-dark-2', $color-success-dark-2),
	('bg-success-dark-3', $color-success-dark-3),
	('bg-success-dark-4', $color-success-dark-4),
	('bg-success-dark-5', $color-success-dark-5),
	// info
	('bg-info', $color-info),
	('bg-info-light-1', $color-info-light-1),
	('bg-info-light-2', $color-info-light-2),
	('bg-info-light-3', $color-info-light-3),
	('bg-info-light-4', $color-info-light-4),
	('bg-info-light-5', $color-info-light-5),
	('bg-info-dark-1', $color-info-dark-1),
	('bg-info-dark-2', $color-info-dark-2),
	('bg-info-dark-3', $color-info-dark-3),
	('bg-info-dark-4', $color-info-dark-4),
	('bg-info-dark-5', $color-info-dark-5),
	// warning
	('bg-warning', $color-warning),
	('bg-warning-light-1', $color-warning-light-1),
	('bg-warning-light-2', $color-warning-light-2),
	('bg-warning-light-3', $color-warning-light-3),
	('bg-warning-light-4', $color-warning-light-4),
	('bg-warning-light-5', $color-warning-light-5),
	('bg-warning-dark-1', $color-warning-dark-1),
	('bg-warning-dark-2', $color-warning-dark-2),
	('bg-warning-dark-3', $color-warning-dark-3),
	('bg-warning-dark-4', $color-warning-dark-4),
	('bg-warning-dark-5', $color-warning-dark-5),
	// danger
	('bg-danger', $color-danger),
	('bg-danger-light-1', $color-danger-light-1),
	('bg-danger-light-2', $color-danger-light-2),
	('bg-danger-light-3', $color-danger-light-3),
	('bg-danger-light-4', $color-danger-light-4),
	('bg-danger-light-5', $color-danger-light-5),
	('bg-danger-dark-1', $color-danger-dark-1),
	('bg-danger-dark-2', $color-danger-dark-2),
	('bg-danger-dark-3', $color-danger-dark-3),
	('bg-danger-dark-4', $color-danger-dark-4),
	('bg-danger-dark-5', $color-danger-dark-5),
	// gray
	('bg-gray-light-1', $color-gray-light-1),
	('bg-gray-light-2', $color-gray-light-2),
	('bg-gray-light-3', $color-gray-light-3),
	('bg-gray-light-4', $color-gray-light-4),
	('bg-gray-light-5', $color-gray-light-5),
	('bg-gray-dark-1', $color-gray-dark-1),
	('bg-gray-dark-2', $color-gray-dark-2),
	('bg-gray-dark-3', $color-gray-dark-3),
	('bg-gray-dark-4', $color-gray-dark-4),
	('bg-gray-dark-5', $color-gray-dark-5),
);

@each $background-color-class-name, $background-color-value in $background-color-map {
  .#{$background-color-class-name} {
    background-color: $background-color-value;
  }

  @each $breakpoint-label, $breakpoint-min, $breakpoint-max in $breakpoint-map {
    .#{$breakpoint-label}\:#{$background-color-class-name} {
      @media (min-width: $breakpoint-min) and (max-width: $breakpoint-max) {
        background-color: $background-color-value;
      }
    }
  }
}
