$container-width: 1140px;

.container {
  margin: 0 auto;
  max-width: $container-width;
  position: relative;
  font-family: $font-family-body;

  @media (min-width: $breakpoint-lg-min) and (max-width: $breakpoint-lg-max) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (min-width: $breakpoint-md-min) and (max-width: $breakpoint-md-max) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (min-width: $breakpoint-sm-min) and (max-width: $breakpoint-sm-max) {
    padding-left: 16px;
    padding-right: 16px;
  }
}
