// -----------------------------
// Responsive
// -----------------------------

@each $breakpoint-label, $breakpoint-min, $breakpoint-max in $breakpoint-map {
	@media (min-width: $breakpoint-min) {
		// -----------------------------
		// Borders
		// _borders.scss
		// -----------------------------

		// border color
		@each $border-color-name, $border-color in $border-colors-map {
			.#{$breakpoint-label}\:border-#{$border-color-name} {
				border-color: $border-color;
			}
		}

		// border radius
		@each $size-label, $size in $border-radius-map {
			.#{$breakpoint-label}\:rounded-#{$size-label} {
				border-radius: $size;
			}

			// corner specific border radius
			@each $corner-label, $corner in $corners {
				.#{$breakpoint-label}\:rounded-#{$corner-label}-#{$size-label} {
					border-#{$corner}-radius: $size;
				}
			}
		}

		// border width
		@each $size-label, $size in $border-width-map {
			.#{$breakpoint-label}\:border-#{$size-label} {
				border-width: $size;
			}

			@each $corner-label, $corner in $corners {
				.#{$breakpoint-label}\:border-#{$corner-label}-#{$size-label} {
					border-#{$corner}-width: $size;
				}
			}
		}

		// -----------------------------
		// Colors
		// _colors.scss
		// -----------------------------

		// text color
		@each $color-class-name, $color-value in $color-map {
			.#{$breakpoint-label}\:#{$color-class-name} {
				color: $color-value;
			}
		}

		// background color
		@each $background-color-class-name, $background-color-value in $background-color-map {
			.#{$breakpoint-label}\:#{$background-color-class-name} {
				background-color: $background-color-value;
			}
		}

		// -----------------------------
		// Effects
		// _effects.scss
		// -----------------------------

		// box shadow
		@each $box-shadow-label, $box-shadow-value in $box-shadow-map {
			.#{$breakpoint-label}\:shadow-#{$box-shadow-label} {
				box-shadow: $box-shadow-value;
			}
		}

		// -----------------------------
		// Flexbox
		// _flexbox.scss
		// -----------------------------

		// all
		@each $flexbox-class-name, $flexbox-property, $flexbox-value in $flexbox-map {
			.#{$breakpoint-label}\:#{$flexbox-class-name} {
				#{$flexbox-property}: $flexbox-value;
			}
		}

		// -----------------------------
		// Sizing
		// _sizing.scss
		// -----------------------------

		// width
		@each $width-label, $width in $width-map {
			.#{$breakpoint-label}\:w-#{$width-label} {
        width: $width;
      }
		}

		// height
		@each $height-label, $height in $height-map {
			.#{$breakpoint-label}\:h-#{$height-label} {
        height: $height;
      }
		}

		// min width
		@each $min-width-label, $min-width in $min-width-map {
			.min-w-#{$min-width-label} {
				min-width: $min-width;
			}
		}

		// min height
		@each $min-height-label, $min-height in $min-height-map {
			.#{$breakpoint-label}\:min-h-#{$min-height-label} {
        min-height: $min-height;
      }
		}

		// max width
		@each $max-width-label, $max-width in $max-width-map {
			.#{$breakpoint-label}\:max-w-#{$max-width-label} {
        max-width: $max-width;
      }
		}

		// max height
		@each $max-height-label, $max-height in $max-height-map {
			.#{$breakpoint-label}\:max-h-#{$max-height-label} {
        max-height: $max-height;
      }
		}

		// -----------------------------
		// Spacing
		// _spacing.scss
		// -----------------------------

		@each $spacing, $spacing-label in $spacing-sizes {
			@each $spacing-type, $spacing-type-label in $spacing-types {

				// t, r, b, l
				@each $side, $side-label in $sides {
					.#{$breakpoint-label}\:#{$spacing-type-label}#{$side-label}-#{$spacing-label} {
						#{$spacing-type}-#{$side}: #{$spacing};
					}
				}

				// x
				.#{$breakpoint-label}\:#{$spacing-type-label}x-#{$spacing-label} {
					#{$spacing-type}-left: #{$spacing};
					#{$spacing-type}-right: #{$spacing};
				}

				// y
				.#{$breakpoint-label}\:#{$spacing-type-label}y-#{$spacing-label} {
					#{$spacing-type}-top: #{$spacing};
					#{$spacing-type}-bottom: #{$spacing};
				}

				// all
				.#{$breakpoint-label}\:#{$spacing-type-label}-#{$spacing-label} {
					#{$spacing-type}: #{$spacing};
				}
			}
		}

		// -----------------------------
		// Typography
		// _typography.scss
		// -----------------------------

		// font size
		@each $font-size-label, $size in $font-size-map {
			.#{$breakpoint-label}\:font-size-#{$font-size-label} {
        font-size: $size;
      }
		}

		// font weight
		@each $font-weight-label, $font-weight in $font-weight-map {
			.#{$breakpoint-label}\:font-weight-#{$font-weight-label} {
        font-weight: $font-weight;
      }
		}

		// font style
		@each $font-style-class-name, $font-style-property, $font-style-value in $font-style-map {
			.#{$breakpoint-label}\:#{$font-style-class-name} {
				#{$font-style-property}: $font-style-value;
			}
		}
	}
}
