// -----------------------------
// Spacing
// -----------------------------

$spacing-sizes: (
  (4px, 'xs'),
  (8px, 'sm'),
  (16px, 'md'),
  (24px, 'lg'),
  (32px, 'xl'),
  (48px, "2xl"),
  (64px, "3xl"),
);

$sides: (
  (top, t),
  (right, r),
  (bottom, b),
  (left, l),
);

$spacing-types: (
  (margin, m),
  (padding, p),
);

@each $spacing, $spacing-label in $spacing-sizes {
  @each $spacing-type, $spacing-type-label in $spacing-types {
    // t, r, b, l
    @each $side, $side-label in $sides {
      .#{$spacing-type-label}#{$side-label}-#{$spacing-label} {
        #{$spacing-type}-#{$side}: #{$spacing};
      }
    }

    // x
    .#{$spacing-type-label}x-#{$spacing-label} {
      #{$spacing-type}-left: #{$spacing};
      #{$spacing-type}-right: #{$spacing};
    }

    // y
    .#{$spacing-type-label}y-#{$spacing-label} {
      #{$spacing-type}-top: #{$spacing};
      #{$spacing-type}-bottom: #{$spacing};
    }

    // all
    .#{$spacing-type-label}-#{$spacing-label} {
      #{$spacing-type}: #{$spacing};
    }
  }
}