// -----------------------------
// Spacing
// -----------------------------

$spacing-sizes: (
  (4px, 'xs'),
  (8px, 'sm'),
  (16px, 'md'),
  (24px, 'lg'),
  (32px, 'xl'),
  (48px, "2xl"),
  (64px, "3xl"),
);

$sides: (
  (top, t),
  (right, r),
  (bottom, b),
  (left, l),
);

$types: (
  (margin, m),
  (padding, p),
);

@each $spacing, $spacing-label in $spacing-sizes {
  @each $type, $type-label in $types {
    // t, r, b, l
    @each $side, $side-label in $sides {
      .#{$type-label}#{$side-label}-#{$spacing-label} {
        #{$type}-#{$side}: #{$spacing};
      }

      // Responsive t, r, b, l
      @each $breakpoint-label, $breakpoint-min, $breakpoint-max in $breakpoint-map {
        .#{$breakpoint-label}\:#{$type-label}#{$side-label}-#{$spacing-label} {
          @media (min-width: $breakpoint-min) and (max-width: $breakpoint-max) {
            #{$type}-#{$side}: #{$spacing};
          }
        }
      }
    }

    // x
    .#{$type-label}x-#{$spacing-label} {
      #{$type}-left: #{$spacing};
      #{$type}-right: #{$spacing};
    }

    // Responsive x
    @each $breakpoint-label, $breakpoint-min, $breakpoint-max in $breakpoint-map {
      .#{$breakpoint-label}\:#{$type-label}x-#{$spacing-label} {
        @media (min-width: $breakpoint-min) and (max-width: $breakpoint-max) {
          #{$type}-left: #{$spacing};
          #{$type}-right: #{$spacing};
        }
      }
    }

    // y
    .#{$type-label}y-#{$spacing-label} {
      #{$type}-top: #{$spacing};
      #{$type}-bottom: #{$spacing};
    }

    // Responsive y
    @each $breakpoint-label, $breakpoint-min, $breakpoint-max in $breakpoint-map {
      .#{$breakpoint-label}\:#{$type-label}y-#{$spacing-label} {
        @media (min-width: $breakpoint-min) and (max-width: $breakpoint-max) {
          #{$type}-top: #{$spacing};
          #{$type}-bottom: #{$spacing};
        }
      }
    }

    // all
    .#{$type-label}-#{$spacing-label} {
      #{$type}: #{$spacing};
    }

    // Responsive all
    @each $breakpoint-label, $breakpoint-min, $breakpoint-max in $breakpoint-map {
      .#{$breakpoint-label}\:#{$type-label}x-#{$spacing-label} {
        @media (min-width: $breakpoint-min) and (max-width: $breakpoint-max) {
          #{$type}: #{$spacing};
        }
      }
    }
  }
}
