// -----------------------------
// Typography
// -----------------------------

$font-family-heading: sans-serif;
$font-family-secondary: serif;
$font-family-body: sans-serif;

.font-family-heading {
  font-family: $font-family-heading;
}

.font-family-secondary {
  font-family: $font-family-secondary;
  font-variant-ligatures: common-ligatures;
}

.font-family-body {
  font-family: $font-family-body;
}

// -----------------------------
// Font Size
// -----------------------------

$font-size-xs: 0.75em;
$font-size-sm: 0.875em;
$font-size-md: 1.125em; // 👈 .container default
$font-size-lg: 1.5em;
$font-size-xl: 1.875em;
$font-size-2xl: 2.25em;
$font-size-3xl: 3em;
$font-size-4xl: 3.75em;

$font-size-map: (
  ('xs', $font-size-xs),
  ('sm', $font-size-sm),
  ('md', $font-size-md),
  ('lg', $font-size-lg),
  ('xl', $font-size-xl),
  ('2xl', $font-size-2xl),
  ('3xl', $font-size-3xl),
  ('4xl', $font-size-4xl),
);

@each $font-size-label, $size in $font-size-map {
  .font-size-#{$font-size-label} {
    font-size: $size;
  }
}

// -----------------------------
// Font Weight
// -----------------------------

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

$font-weight-map: (
  ('bold', $font-weight-bold),
  ('medium', $font-weight-medium),
  ('regular', $font-weight-regular),
);

@each $font-weight-label, $font-weight in $font-weight-map {
  .font-weight-#{$font-weight-label} {
    font-weight: $font-weight;
  }
}

// -----------------------------
// Leading / Line Height
// -----------------------------

$leading-tight: 1.25em;
$leading-normal: 1.5em;
$leading-loose: 2em;

.leading-tight {
  line-height: $leading-tight;
}

.leading-normal {
  line-height: $leading-normal;
}

.leading-loose {
  line-height: $leading-loose;
}

// -----------------------------
// Font Style / Decoration / Transform
// -----------------------------

$font-style-map: (
	('italic', font-style, italic),
	('underline', text-decoration, underline),
	('no-underline', text-decoration, none),
	('lowercase', text-transform, lowercase),
	('uppercase', text-transform, uppercase),
	('capitalize', text-transform, capitalize),
);

@each $font-style-class-name, $font-style-property, $font-style-value in $font-style-map {
  .#{$font-style-class-name} {
    #{$font-style-property}: $font-style-value;
  }
}
