<html>
	<head>
		<link rel="stylesheet" href="../index.css" />
	</head>
	<body>
		<h1>Layout</h1>

		<h2>Display</h2>
		<span class="block">
			.block
		</span>

		<div class="inline">
			.inline
		</div>

		<div class="inline-block">
			.inline-block
		</div>

		<div class="hidden">
			.hidden
		</div>

		<h2>Text Alignment</h2>
		<div class="text-center">
			.text-center
		</div>

		<div class="text-right">
			.text-right
		</div>

		<div class="text-left">
			.text-left
		</div>

		<div class="text-justify">
			.text-justify
		</div>

		<h2>Float</h2>
		<div class="float-left">
			.float-left
		</div>

		<div class="float-right">
			.float-right
		</div>

		<div class="float-none">
			.float-none
		</div>

		<h2>Positioning</h2>
		<div class="static">
			.static
		</div>

		<div class="fixed">
			.fixed
		</div>

		<div class="absolute">
			.absolute
		</div>

		<div class="relative">
			.relative
		</div>

		<div class="sticky">
			.sticky
		</div>

		<div class="pin">
			.pin
		</div>

		<div class="pin-t">
			.pin-t
		</div>

		<div class="pin-r">
			.pin-r
		</div>

		<div class="pin-b">
			.pin-b
		</div>

		<div class="pin-l">
			.pin-l
		</div>

		<h2>Visibility</h2>
		<div class="visible">
			.visible
		</div>

		<div class="invisible">
			.invisible
		</div>

		<h2>Z-Index</h2>
		<div class="z-0">
			.z-0
		</div>

		<div class="z-1">
			.z-1
		</div>

		<div class="z-2">
			.z-2
		</div>

		<div class="z-10">
			.z-10
		</div>

		<div class="z-20">
			.z-20
		</div>

		<div class="z-max">
			.z-max
		</div>

		<h2>Vertical Alignment</h2>
		<div class="vertical-align-baseline">
			.vertical-align-baseline
		</div>

		<div class="vertical-align-top">
			.vertical-align-top
		</div>

		<div class="vertical-align-middle">
			.vertical-align-middle
		</div>

		<div class="vertical-align-bottom">
			.vertical-align-bottom
		</div>

		<div class="vertical-align-text-top">
			.vertical-align-text-top
		</div>

		<div class="vertical-align-text-bottom">
			.vertical-align-text-bottom
		</div>
	</body>
</html>
