// -----------------------------
// General
// -----------------------------

html {
  font-size: $font-size-md;
}

* {
	color: $color-gray-dark-4;
	line-height: $leading-md;
}

span, p {
  @include below-media(breakpoint-sm) {
    line-height: $leading-sm;
  }
}

a {
	color: $color-primary;
}

// -----------------------------
// Headings
// -----------------------------

h1, h2, h3, h4, h5 {
  font-family: $font-family-heading;
}

// -----------------------------
// Responsive Heading Defaults
// http://typecast.com/blog/a-more-modern-scale-for-web-typography
// -----------------------------

h1 {
  font-size: $font-size-md * 2;
  line-height: 1.25;
  font-family: $font-family-heading;
  font-weight: 700;
}

@include above-media(breakpoint-md) {
  h1 {
    font-size: $font-size-md * 2.5;
    line-height: 1.125;
  }
}

@include above-media(breakpoint-lg) {
  h1 {
    font-size: $font-size-md * 3;
    line-height: 1.05;
  }
}

h2 {
  font-size: $font-size-md * 1.625;
  line-height: 1.15384615;
  font-family: $font-family-heading;
  font-weight: 400;
}

@include above-media(breakpoint-md) {
  h2 {
    font-size: $font-size-md * 2;
    line-height: 1.25;
  }
}

@include above-media(breakpoint-lg) {
  h2 {
    font-size: $font-size-md * 2.25;
    line-height: 1.25;
  }
}

h3 {
  font-size: $font-size-md * 1.375;
  line-height: 1.13636364;
  font-family: $font-family-heading;
  font-weight: 400;
}

@include above-media(breakpoint-md) {
  h3 {
    font-size: $font-size-md * 1.5;
    line-height: 1.25;
  }
}

@include above-media(breakpoint-lg) {
  h3 {
    font-size: $font-size-md * 1.75;
    line-height: 1.25;
  }
}

h4 {
  font-size: $font-size-md * 1.125;
  line-height: 1.11111111;
  font-family: $font-family-heading;
  font-weight: 400;
}

@include above-media(breakpoint-md) {
  h4 {
    line-height: 1.22222222;
  }
}
