/**
 * --------------------------------------------------------------
 * Steller CSS
 * Theme Configuration
 *
 * The centralized config file for your design system.
 * --------------------------------------------------------------
 */

/**
 * --------------------------------------------------------------
 * Color
 *
 * As many colors as you need, and you get to name them.
 * The names chosen here, will align with their class names.
 *
 * .text-{$name} --> { color: $value; }
 * .bg-{$name} --> { background-color: $value; }
 * .border-{$name} --> { border-color: $value; }
 * --------------------------------------------------------------
 */

$steller-colors: (
	// Brand
	'primary': #3F7CAC,
	'secondary': #E2CB9E,

	// Accents
	'accent-green': #73937E,
	'accent-teal': #86BBD8,

	// System
	'success': #4cd964,
	'info': #86BBD8,
	'warning': #ffcc00,
	'danger': #FF7F66,

	// Grayscale
	'white': #fff,
	'black': #000,
	'dark-grey': #393D3F,
	'light-grey': lighten(#393D3F, 22%),
);

/**
 * --------------------------------------------------------------
 * Typography
 *
 *
 * .font-{$name} --> { font: $value; }
 * .font-size-{$size} --> { font-size: $value; }
 * .font-weight-{$weight} --> { font-weight: $value; }
 * .leading-{$size} --> { line-height: $size; }
 * --------------------------------------------------------------
 */

$steller-font-family-heading: sans-serif;
$steller-font-family-body: sans-serif;

$steller-custom-font-families: (
	'accent': cursive,
);

$steller-font-size-xs: 10px;
$steller-font-size-sm: 12px;
$steller-font-size-md: 16px; // 👈 <html> default
$steller-font-size-lg: 22px;
$steller-font-size-xl: 28px;
$steller-font-size-2xl: 34px;
$steller-font-size-3xl: 46px;
$steller-font-size-4xl: 58px;

$steller-font-weight-bold: 700;
$steller-font-weight-medium: 500;
$steller-font-weight-regular: 400;
$steller-font-weight-light: 300;
$steller-font-weight-thin: 100;

$steller-leading-sm: 1.25em;
$steller-leading-md: 1.5em;
$steller-leading-lg: 2em;

/**
 * --------------------------------------------------------------
 * Breakpoints
 *
 * To determine the responsive breakpoint prefixed class variants
 * --------------------------------------------------------------
 */

$steller-breakpoint-sm: 320px;
$steller-breakpoint-md: 600px;
$steller-breakpoint-lg: 1024px;

/**
 * --------------------------------------------------------------
 * Container
 *
 * Sets the max width on the .container element
 * --------------------------------------------------------------
 */

$steller-container-width: 1140px;

/**
 * --------------------------------------------------------------
 * Grid
 *
 * .col-{$columns} --> { grid-column: span $columns; }
 * .row-{$rows} --> { grid-row: span $rows; }
 * .col-start-{$offset} --> { grid-column: $offset / span $columns; }
 * --------------------------------------------------------------
 */

// Grid
$steller-grid-columns: 12;

$steller-column-gutter-sm: 16px;
$steller-column-gutter-md: 16px;
$steller-column-gutter-lg: 24px;

$steller-row-gutter-sm: 8px;
$steller-row-gutter-md: 8px;
$steller-row-gutter-lg: 16px;

// Spacing
$steller-spacing-xs: 4px;
$steller-spacing-sm: 8px;
$steller-spacing-md: 16px;
$steller-spacing-lg: 24px;
$steller-spacing-xl: 32px;
$steller-spacing-2xl: 48px;
$steller-spacing-3xl: 64px;

// Borders
$steller-border-radius-sm: 5px;
$steller-border-radius-md: 10px;
$steller-border-radius-lg: 15px;
$steller-border-radius-xl: 20px;

$steller-border-width-xs: 1px;
$steller-border-width-sm: 2px;
$steller-border-width-md: 4px;
$steller-border-width-lg: 6px;
$steller-border-width-xl: 8px;

/**
 * --------------------------------------------------------------
 * Motion
 *
 * Transistions & Animations
 * --------------------------------------------------------------
 */

$steller-speed-extra-slow: 500ms;
$steller-speed-slow: 400ms;
$steller-speed-normal: 300ms;
$steller-speed-fast: 200ms;
$steller-speed-extra-fast: 100ms;

/**
 * --------------------------------------------------------------
 * Effects
 *
 * .shadow-{$size} --> { box-shadow: $size; }
 * --------------------------------------------------------------
 */

$steller-box-shadow-sm: 0 7px 15px 0 rgba(0, 0, 0, 0.11), 0 1px 8px 0 rgba(0, 0, 0, 0.06);
$steller-box-shadow-md: 0 10px 20px 0 rgba(0, 0, 0, 0.22), 0 3px 12px 0 rgba(0, 0, 0, 0.07);
$steller-box-shadow-lg: 0 15px 30px 0 rgba(0, 0, 0, 0.33), 0 5px 15px 0 rgba(0, 0, 0, 0.1);
