$steller-colors: (
  'primary': #3f7cac,
  'secondary': #e2cb9e,
);

$steller-font-families: (
  'accent': cursive,
);

$steller-gradients: (
  'snazzy': linear-gradient(to right, #55c1ff, green),
);

@import '../index';
